{% extends 'ownerapp/master.html' %}
{% load static %}
{% block content %}

<main>

  <div class = "container mt-5">
    <div class = " text-center mt -5 ">

        <h1> changepassword page </h1>

  
      </div>
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}

  <div class="form-group">
    <label for="exampleFormControlInput1">oldpasswrod</label>
    <input type="text" name="name" class="form-control" id="exampleFormControlInput1">
  </div>

  <div class="form-group">
    <label for="exampleFormControlInput1">newpasswrod</label>
    <input type="text" name="new_password1" class="form-control" id="exampleFormControlInput1">
  </div>

  <div class="form-group">
    <label for="exampleFormControlInput1">Changepasswrod</label>
    <input type="text" name="new_password2" class="form-control" id="exampleFormControlInput1">
  </div>
    <button class="btn btn-primary" type="submit" value="Submit">submit</button>
  </div>
</form>
</main>
{% endblock %}